VK_TOKEN=
VK_GROUP_ID=
VK_CONFIRMATION_CODE=
VK_CALLBACK_SECRET=
VK_USER_ADMIN_TOKEN=
VK_USER_TOKEN=
AI_TOKEN=
GEMINI_API_KEY=
Gemini_key=
DATABASE_URL=
REDIS_URL=
POSTGRES_HTTP_URL=
POSTGRES_PASSWORD=
ENCRYPTION_SECRET=
PORT=
UV_THREADPOOL_SIZE=
NODE_ENV=
