# VK_TOKEN: The access token for the VK community.
VK_TOKEN="vk1.a.0h8Yg41irrcMeHXWaKh_ukUXO8FfbVAu0DKZStvExHFXGiPQDEGd8CkYvlgCE6qG-BWVAUkvFV36N1GaAJaD4JG-WKcNBqjEwpBapyf5YIdLseKRon_aRiAQpfAbWtWI0NrYJohlWr4c34WPZjQ6PGgbK2G6xtwvlFALERy9pLfO7n8Ah_cr1Oyszl7vF7IFfQUHc4s8g7GFc7gWGmxZPQ"

# VK_GROUP_ID: The ID of the VK community.
VK_GROUP_ID="239281784"

# VK_CONFIRMATION_CODE: The confirmation string for the Callback API.
VK_CONFIRMATION_CODE="74bdc85e"

# DASHBOARD_SECRET: Secret word for dashboard access.
DASHBOARD_SECRET="Jordanmanager"

# GEMINI_API_KEY: Secret key for Google Gemini model access.
GEMINI_API_KEY=
